<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JJ's blog</title>

    <!-- Generated styles from input.css and the tailwind classes used -->
    <link rel="stylesheet" href="/style.css" />

    <meta property="og:site_name" content="JJ's blog" />
    <meta property="og:title" content="JJ's blog" />
    <meta
      property="og:description"
      content="Hey it's JJ, this is my blog, life is Bananas, you should subscribe!"
    />
    ${ogpImageMetaTags}
  </head>

  <body>
    ${headerFragment}
    <div class="flex w-full flex-col items-center p-4 lg:py-12">
      <div class="w-full max-w-screen-sm">
        <p
          class="pb-4 text-7xl font-extrabold tracking-tight text-blue-600 lg:text-9xl"
        >
          404
        </p>

        <p
          class="pb-4 text-2xl font-bold tracking-tight text-zinc-900 md:text-4xl"
        >
          Whoops! I can't find it ...
        </p>

        <p class="text-xl">
          Redirecting you back <a href="/">home</a> in
          <span id="countdown-seconds">5</span>s ...
        </p>

        <div class="w-full text-center">
          <img src="/not-found.svg" alt="not found" />
        </div>
      </div>
    </div>

    ${footer}

    <script>
      async function countdown() {
        for (
          let countDownSeconds = 5;
          countDownSeconds > 0;
          countDownSeconds--
        ) {
          document.getElementById("countdown-seconds").innerHTML =
            countDownSeconds;
          await new Promise((res) => setTimeout(res, 1000));
        }

        window.location = "/";
      }

      countdown();
    </script>
  </body>
</html>
