<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JJ's blog</title>

    <!-- Generated styles from input.css and the tailwind classes used -->
    <link rel="stylesheet" href="/style.css" />

    <meta property="og:site_name" content="JJ's blog" />
    <meta property="og:title" content="JJ's blog" />
    <meta
      property="og:description"
      content="Hey it's JJ, this is my blog, life is Bananas, you should subscribe!"
    />
    ${ogpImageMetaTags}
  </head>

  <body>
    ${headerFragment}
    <div class="flex w-full flex-col items-center px-4 lg:py-12">
      <div class="w-full max-w-screen-sm pb-8">
        <div class="pb-16">${subscribeCardFragment}</div>

        <div class="flex flex-row gap-6 pb-4">
          <p class="cursor-pointer text-xl font-bold text-zinc-800">
            Posts (${postCount})
          </p>
          <a
            href="/tags/"
            class="text-xl font-light text-zinc-600 no-underline"
          >
            Tags (${tagCount})
          </a>
        </div>

        <div class="pb-8 sm:pb-12">
          <div class="flex flex-row items-center justify-between gap-4">
            <p class="pb-0 text-lg font-medium text-zinc-700">Featured</p>
            <div class="w-full border border-zinc-500"></div>
          </div>
          <div class="divide-y">${pinnedPostCardFragments}</div>
        </div>

        <div class="pb-4">
          <div class="flex flex-row items-center justify-between gap-4">
            <p class="pb-0 text-lg font-medium text-zinc-700">Recent</p>
            <div class="w-full border border-zinc-500"></div>
          </div>
          <div class="divide-y">${postLinks}</div>
        </div>

        ${scrollToTopButton}
      </div>
    </div>

    ${footer}
  </body>
</html>
