<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JJ's blog - ${title}</title>

    <!-- Generated styles from input.css and the tailwind classes used -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="p-4 lg:p-8">
      ${headerFragment}

      <div class="flex w-full flex-col items-center">
        <div class="w-full max-w-screen-md pb-8">
          <h1 class="-mt-2 pb-4 pt-0 font-black text-zinc-800">${title}</h1>
          <p class="pb-4 text-base">${date}, &nbsp;${timeToRead}</p>
          <div class="pb-4">${tags}</div>
          <div>${postContent}</div>

          ${scrollToTopButton}
        </div>
      </div>
    </div>

    <!-- Conditionally load highlight.js if there is code blocks in the markdown file, after content has loaded. -->
    ${highlightJS}
  </body>
</html>
