<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JJ's blog - ${tag}</title>

    <!-- Generated styles from input.css and the tailwind classes used -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="p-4 lg:p-8">
      ${headerFragment}

      <div class="flex w-full flex-col items-center">
        <div class="w-full max-w-screen-sm pb-8">
          <p class="text-xl font-bold text-zinc-800">${tag} (${count})</p>
          <div>${posts}</div>
          ${scrollToTopButton}
          <div class="pt-12 text-center">${subscribeModalFragment}</div>
        </div>
      </div>
    </div>
  </body>
</html>
