<div
  class="bg-zinc-100 px-8 py-8 md:py-12 lg:px-28 xl:px-32 xl:pb-20 2xl:px-48"
>
  <div class="flex flex-col gap-16 pb-8 md:flex-row md:pb-20">
    <div class="md:basis-1/2">
      <p class="pb-3 tracking-wide">SOCIALS</p>
      <div class="flex flex-row flex-wrap gap-4 md:basis-1/4">
        <a
          href="https://github.com/Jaimeloeuf"
          target="_blank"
          rel="noopener"
          title="Github"
        >
          <img class="p-0" src="/social-gh.svg" alt="Github" />
        </a>
        <a
          href="https://www.instagram.com/JJSS.quest"
          target="_blank"
          rel="noopener"
          title="Instagram"
        >
          <img class="p-0" src="/social-ig.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.youtube.com/@JJSS-quest"
          target="_blank"
          rel="noopener"
          title="Youtube"
        >
          <img class="p-0" src="/social-yt.svg" alt="Youtube" />
        </a>
        <a
          href="https://linkedin.com/in/jaimeloeuf/"
          target="_blank"
          rel="noopener"
          title="LinkedIn"
        >
          <img class="p-0" src="/social-li.svg" alt="LinkedIn" />
        </a>
        <!-- <a
        href="https://twitter.com/jaimeloeuf"
        target="_blank"
        rel="noopener"
        title="Twitter"
      >
        <img class="p-0" src="/social-tw.svg" alt="Twitter" />
      </a> -->
        <!-- <a
          href="https://www.reddit.com/user/jaimeloeuf"
          target="_blank"
          rel="noopener"
          title="Reddit"
        >
          <img class="p-0" src="/social-rd.svg" alt="Reddit" />
        </a> -->
      </div>
    </div>

    <div class="flex flex-col gap-2 md:basis-1/2">
      <p class="pb-0 tracking-wide">STUFF</p>
      <a href="/subscribe" class="w-max font-light">Subscribe</a>
      <a
        href="https://github.com/Jaimeloeuf/blog"
        target="_blank"
        class="w-max font-light"
        rel="noopener"
      >
        This Github Project
      </a>
      <a href="mailto:jaimeloeuf@gmail.com" class="w-max font-light">
        jaimeloeuf@gmail.com
      </a>
    </div>
  </div>
</div>
